# --- BACKEND (.dev.vars ou secrets em prod) ---
JWT_SECRET=troque_em_producao
GITHUB_TOKEN=seu_github_token_aqui
GITHUB_OWNER=seu_usuario_github

# --- FRONTEND (.env) ---
VITE_API=http://localhost:8787
VITE_MSAL_CLIENT_ID=seu_client_id_aqui
VITE_MSAL_TENANT_ID=seu_tenant_id_aqui
VITE_DOMINIO_INSTITUCIONAL=unieuro.edu.br

# --- CLOUDFLARE (Geral) ---
CLOUDFLARE_ACCOUNT_ID=seu_account_id
D1_DATABASE_ID=631a8b23-4a75-4e59-8b73-61af4b07d5f7
KV_NAMESPACE_ID=148fcf4fa8464a24b5f8f038ee1657f3
